.todos {
  margin-top: 20px;
  margin-bottom: 0px !important;
}

.illustration {
  margin-top: 40px;
}

.illustration h1 {
  text-align: center;
}

.todos .title {
  padding: 0px;
  font-size: 22px;
  font-weight: bold;
  color: #202020 !important;
}
