.todo-item {
  display: flex;
  align-items: center;
  margin: 35px 0px 0px 0px;
}

.todo-item .icon {
  width: 27.5px;
  height: 20px;
}

.completed-icon {
  width: 27.5px;
  height: 25px;
}

.todo-item .label {
  width: 100%;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  margin-left: 10px;
  vertical-align: middle;
}

.todo-item .label .note {
  margin-top: 8px;
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  font-weight: lighter;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: rgba(0, 0, 0, 0.54);
}
